.displayValue {
    display:inline;
}

div.container {
    display:inline-block;
}
#controls {
    position:absolute;
    left:5;
    top:5;
    width:200px;
    z-index:1000;
}
#imgMicroCell {
    display:inline-block;
    width:400px;
    height:400px;
}

td, img, div, table, tr, i {
    margin:0px;
    padding:0px;
}

table.MicroCell {
    margin:auto auto;
    text-align:center;
    position:absolute;
    top:0;
    left:205px;
    height:1000px;
    width:1000px;
}

td.BB {
    width:400px;
    height:400px;
}

.click {
    cursor: pointer;
    display: inline;
}

.btn {
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

div.btn:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
}	
div.btn:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
}

input[type="text"] {
    text-align:center;
    color:#666;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}
input[type="text"]:focus,
input[type="text"].focus {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
    background-color: #CCC;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}

input[type="range"] {
    display:inline-block;
    vertical-align:baseline;
}


.text{
    text-align:center;
    color:#666;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

